<div class="table-block">
    <div class="table-buttons sourcesEquipBoilerTable-buttons"></div>
    <table id="sourcesEquipBoilerTable" class="display compact" style="width:100%">
        <thead>
            <tr>
                <th>УНОМ ТЗ</th>
                <th>УНОМ ТП</th>
                <th>Адрес</th>
                <th>Дата</th>
                <th>Тип</th>
                <th>Округ</th>
                <th>Состояние</th>
                <th>Полезная энергия</th>
                <th>Тепловая энергия</th>
                <th>Источники</th>
            </tr>
            <tr class="filter-row ">
                <th class="dtfc-fixed-left" style="left:0; position:sticky;"><input type="text" class="filter-col-0" /></th>
                <th><input type="text" class="filter-col-1" /></th>
                <th><input type="text" class="filter-col-2" /></th>
                <th><input type="text" class="filter-col-3" /></th>
                <th><input type="text" class="filter-col-4" /></th>
                <th><input type="text" class="filter-col-5" /></th>
                <th><input type="text" class="filter-col-6" /></th>
                <th><input type="text" class="filter-col-7" /></th>
                <th><input type="text" class="filter-col-8" /></th>
                <th><input type="text" class="filter-col-9" /></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>ТСО 1</td>
                <td>Row 1 Data 3</td>
                <td>Row 1 Data 4</td>
                <td>Row 1 Data 5</td>
                <td>Row 1 Data 6</td>
                <td>Row 1 Data 7</td>
                <td>Row 1 Data 8</td>
                <td>Row 1 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>ТСО 2</td>
                <td>Row 2 Data 3</td>
                <td>Row 2 Data 4</td>
                <td>Row 2 Data 5</td>
                <td>Row 2 Data 6</td>
                <td>Row 2 Data 7</td>
                <td>Row 2 Data 8</td>
                <td>Row 2 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>ТСО 3</td>
                <td>Row 3 Data 3</td>
                <td>Row 3 Data 4</td>
                <td>Row 3 Data 5</td>
                <td>Row 3 Data 6</td>
                <td>Row 3 Data 7</td>
                <td>Row 3 Data 8</td>
                <td>Row 3 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>ТСО 4</td>
                <td>Row 4 Data 3</td>
                <td>Row 4 Data 4</td>
                <td>Row 4 Data 5</td>
                <td>Row 4 Data 6</td>
                <td>Row 4 Data 7</td>
                <td>Row 4 Data 8</td>
                <td>Row 4 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>ТСО 5</td>
                <td>Row 5 Data 3</td>
                <td>Row 5 Data 4</td>
                <td>Row 5 Data 5</td>
                <td>Row 5 Data 6</td>
                <td>Row 5 Data 7</td>
                <td>Row 5 Data 8</td>
                <td>Row 5 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>ТСО 6</td>
                <td>Row 6 Data 3</td>
                <td>Row 6 Data 4</td>
                <td>Row 6 Data 5</td>
                <td>Row 6 Data 6</td>
                <td>Row 6 Data 7</td>
                <td>Row 6 Data 8</td>
                <td>Row 6 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>ТСО 7</td>
                <td>Row 7 Data 3</td>
                <td>Row 7 Data 4</td>
                <td>Row 7 Data 5</td>
                <td>Row 7 Data 6</td>
                <td>Row 7 Data 7</td>
                <td>Row 7 Data 8</td>
                <td>Row 7 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>8</td>
                <td>ТСО 8</td>
                <td>Row 8 Data 3</td>
                <td>Row 8 Data 4</td>
                <td>Row 8 Data 5</td>
                <td>Row 8 Data 6</td>
                <td>Row 8 Data 7</td>
                <td>Row 8 Data 8</td>
                <td>Row 8 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>9</td>
                <td>ТСО 9</td>
                <td>Row 9 Data 3</td>
                <td>Row 9 Data 4</td>
                <td>Row 9 Data 5</td>
                <td>Row 9 Data 6</td>
                <td>Row 9 Data 7</td>
                <td>Row 9 Data 8</td>
                <td>Row 9 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>10</td>
                <td>ТСО 10</td>
                <td>Row 10 Data 3</td>
                <td>Row 10 Data 4</td>
                <td>Row 10 Data 5</td>
                <td>Row 10 Data 6</td>
                <td>Row 10 Data 7</td>
                <td>Row 10 Data 8</td>
                <td>Row 10 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>ТСО 1</td>
                <td>Row 1 Data 3</td>
                <td>Row 1 Data 4</td>
                <td>Row 1 Data 5</td>
                <td>Row 1 Data 6</td>
                <td>Row 1 Data 7</td>
                <td>Row 1 Data 8</td>
                <td>Row 1 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>ТСО 2</td>
                <td>Row 2 Data 3</td>
                <td>Row 2 Data 4</td>
                <td>Row 2 Data 5</td>
                <td>Row 2 Data 6</td>
                <td>Row 2 Data 7</td>
                <td>Row 2 Data 8</td>
                <td>Row 2 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>ТСО 3</td>
                <td>Row 3 Data 3</td>
                <td>Row 3 Data 4</td>
                <td>Row 3 Data 5</td>
                <td>Row 3 Data 6</td>
                <td>Row 3 Data 7</td>
                <td>Row 3 Data 8</td>
                <td>Row 3 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>ТСО 4</td>
                <td>Row 4 Data 3</td>
                <td>Row 4 Data 4</td>
                <td>Row 4 Data 5</td>
                <td>Row 4 Data 6</td>
                <td>Row 4 Data 7</td>
                <td>Row 4 Data 8</td>
                <td>Row 4 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>ТСО 5</td>
                <td>Row 5 Data 3</td>
                <td>Row 5 Data 4</td>
                <td>Row 5 Data 5</td>
                <td>Row 5 Data 6</td>
                <td>Row 5 Data 7</td>
                <td>Row 5 Data 8</td>
                <td>Row 5 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>ТСО 6</td>
                <td>Row 6 Data 3</td>
                <td>Row 6 Data 4</td>
                <td>Row 6 Data 5</td>
                <td>Row 6 Data 6</td>
                <td>Row 6 Data 7</td>
                <td>Row 6 Data 8</td>
                <td>Row 6 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>ТСО 7</td>
                <td>Row 7 Data 3</td>
                <td>Row 7 Data 4</td>
                <td>Row 7 Data 5</td>
                <td>Row 7 Data 6</td>
                <td>Row 7 Data 7</td>
                <td>Row 7 Data 8</td>
                <td>Row 7 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>8</td>
                <td>ТСО 8</td>
                <td>Row 8 Data 3</td>
                <td>Row 8 Data 4</td>
                <td>Row 8 Data 5</td>
                <td>Row 8 Data 6</td>
                <td>Row 8 Data 7</td>
                <td>Row 8 Data 8</td>
                <td>Row 8 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>9</td>
                <td>ТСО 9</td>
                <td>Row 9 Data 3</td>
                <td>Row 9 Data 4</td>
                <td>Row 9 Data 5</td>
                <td>Row 9 Data 6</td>
                <td>Row 9 Data 7</td>
                <td>Row 9 Data 8</td>
                <td>Row 9 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
            <tr>
                <td>10</td>
                <td>ТСО 10</td>
                <td>Row 10 Data 3</td>
                <td>Row 10 Data 4</td>
                <td>Row 10 Data 5</td>
                <td>Row 10 Data 6</td>
                <td>Row 10 Data 7</td>
                <td>Row 10 Data 8</td>
                <td>Row 10 Data 9</td>
                <td><a href="#">>></a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="data-row table-summary">
    <div class="data-block">
        <div class="data-item">
            <h5 class="data-label">Всего записей:</h5>
            <span class="data-value mark-color">1 000</span>
        </div>
        <div class="data-item">
            <span class="data-label">∑ N<sub>у</sub> =</span>
            <span class="data-value mark-color">10</span>
            <span class="data-unit">МВт</span>
        </div>
        <div class="data-item">
            <span class="data-label">∑ Q<sub>у</sub> =</span>
            <span class="data-value mark-color">10</span>
            <span class="data-unit">Гкал/ч</span>
        </div>
    </div>
    <div class="data-row">


        <div class="data-table-block">
            <h5>Паровые котлоагрегаты:</h5>
            <div class="data-item">
                <span class="data-label">- количество:</span>
                <span class="mark-color">4</span>
                <span class="data-unit">шт.</span>
            </div>
            <div class="data-item">
                <span class="data-label">- установленная мощность: ∑ Q<sub>у</sub> =</span>
                <span class="mark-color">4</span>
                <span class="data-unit">Гкал/ч</span>
                <span class="data-label">∑ ПР<sub>у</sub> =</span>
                <span class="mark-color">4</span>
                <span class="data-unit">т/ч</span>
            </div>
            <div class="data-item">
                <span class="data-label">- располагаемая мощность: ∑ Q<sub>у</sub> =</span>
                <span class="mark-color">4</span>
                <span class="data-unit">Гкал/ч</span>
                <span class="data-label">∑ ПР<sub>у</sub> =</span>
                <span class="mark-color">4</span>
                <span class="data-unit">т/ч</span>
            </div>
        </div>


        <div class="data-table-block">
            <h5>Паровые котлы-утилизаторы:</h5>
            <div class="data-item">
                <span class="data-label">- количество:</span>
                <span class="mark-color">4</span>
                <span class="data-unit">шт.</span>
            </div>
            <div class="data-item">
                <span class="data-label">- установленная мощность: ∑ Q<sub>у</sub> =</span>
                <span class="mark-color">4</span>
                <span class="data-unit">Гкал/ч</span>
                <span class="data-label">∑ ПР<sub>у</sub> =</span>
                <span class="mark-color">4</span>
                <span class="data-unit">т/ч</span>
            </div>
            <div class="data-item">
                <span class="data-label">- располагаемая мощность: ∑ Q<sub>у</sub> =</span>
                <span class="mark-color">4</span>
                <span class="data-unit">Гкал/ч</span>
                <span class="data-label">∑ ПР<sub>у</sub> =</span>
                <span class="mark-color">4</span>
                <span class="data-unit">т/ч</span>
            </div>
        </div>


        <div class="data-table-block">
            <h5>Водогрейные котлоагрегаты:</h5>
            <div class="data-item">
                <span class="data-label">- количество:</span>
                <span class="mark-color">4</span>
                <span class="data-unit">шт.</span>
            </div>
            <div class="data-item">
                <span class="data-label">- установленная мощность: ∑ Q<sub>у</sub> =</span>
                <span class="mark-color">4</span>
                <span class="data-unit">Гкал/ч</span>
            </div>
            <div class="data-item">
                <span class="data-label">- располагаемая мощность: ∑ Q<sub>у</sub> =</span>
                <span class="mark-color">4</span>
                <span class="data-unit">Гкал/ч</span>
            </div>
        </div>


        <div class="data-table-block">
            <h5>Водогрейные котлы-утилизаторы:</h5>
            <div class="data-item">
                <span class="data-label">- количество:</span>
                <span class="mark-color">4</span>
                <span class="data-unit">шт.</span>
            </div>
            <div class="data-item">
                <span class="data-label">- установленная мощность: ∑ Q<sub>у</sub> =</span>
                <span class="mark-color">4</span>
                <span class="data-unit">Гкал/ч</span>
            </div>
            <div class="data-item">
                <span class="data-label">- располагаемая мощность: ∑ Q<sub>у</sub> =</span>
                <span class="mark-color">4</span>
                <span class="data-unit">Гкал/ч</span>
            </div>
        </div>

    </div>
</div>