<div class="data-block workspace">
    <div class="data-block title-block">
        <div class="data-row">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a class="ref-color" href="#">Главная</a></li>
                <li class="breadcrumb-item">Теплоснабжающие организации - Перечень организаций</li>
            </ul>
        </div>
        <div class="data-row">
            <h1 class="title">Теплоснабжающие и теплосетевые организации</h1>
            <div class="data-item data-item-right">
                <button class="bttn bttn-color bttn-edit-data" type="button" onclick="OpenPopupTSO(0)">Добавить/Удалить</button>
                <a class="bttn bttn-color bttn-load-data" type="button" href="/tso/Main/TSOUploadList">Загрузить данные</a>
                <button class="bttn bttn-color bttn-excel-export" type="button" id="excelFull">Выгрузить в Excel</button>
            </div>
        </div>
        <div class="data-row static-block">
            <div class="data-row">
                <div class="data-item">
                    <partial name="_PerspectiveYearsList" />
                </div>
                <div class="data-item">
                    <div class="note">Базовый год - <span class="note-base-year" id="base_year_info"></span>;</div>
                </div>
            </div>
            <div class="data-row">
                <label class="data-item">
					<span class="data-label">Только регулируемые и договор поставки</span>
                    <input type="checkbox" class="data-check" name="only_reg_contract" id="only_reg_contract" value="0">
				</label>
				<label class="data-item">
                    <span class="data-label">Показать ликвидированные</span>
                    <input type="checkbox" class="data-check" name="only_liquidate" id="only_liquidate" value="0">
				</label>
            </div>
        </div>
    </div>
    <div class="data-block main-content border-block" style="border-color: var(--action-color); display: none;" id="tso_div_table">
        @await Component.InvokeAsync("TSOList_Partial")
    </div>
</div>

@section pageJs {
    <script type="text/javascript">

        const editDataModal = document.getElementById('TSOeditData');
		editDataModal.addEventListener('shown.bs.modal', event => {
            TableInit('yearParamTable', 'simple-scroll', '67vh', 0);
            TableInit('responseTable', 'simple-scroll', '67vh', 0);
		});
        //showPreloader();
       
        $(document).ready(function () {

            setTimeout(function () {
                $('#tso_org_list').addClass('active');
                TableInit('tsoTable', 'full');
            }, 500);

            
            //$('#tsoTable').DataTable().columns.adjust().draw();
         //   document.querySelector('#perspective_year,#only_reg_contract,#only_liquidate').addEventListener('change', (event) => {
         //       GetTSOList();
	        //});

            document.querySelector('#perspective_year').addEventListener('change', (event) => {
                GetListOnPage();
	        });
            document.querySelector('#only_reg_contract').addEventListener('change', (event) => {
                GetListOnPage();
	        });
            document.querySelector('#only_liquidate').addEventListener('change', (event) => {
                GetListOnPage();
	        });
        });

        function GetListOnPage() {

            showPreloader();

            $('input[name="only_reg_contract"]').not(':checked').val(0);
            $('input[name="only_reg_contract"]:checked' ).val(1);
            $('input[name="only_liquidate"]').not(':checked').val(0);
            $('input[name="only_liquidate"]:checked').val(1);

	        $.ajax({
                type: 'GET',
                url: '@Html.Raw(Url.Action("OnGetCallTSOList_PartialViewComponent", "Main", new { Area = "TSO" }))',
                data: {
                    data_status: $('#data_status').val(),
                    perspective_year: $('#perspective_year').val(),
                    only_reg_contract: $('#only_reg_contract').val(),
                    only_liquidate: $('#only_liquidate').val()
                },
                dataType: 'html'
            })
                .done(function (result) {
                    var div = $('#tso_div_table');
                    div.html("");
                    //var $buttons = $('.dt-buttons');
                    //$buttons.remove();
                    div.html(result);
                    TableInit('tsoTable', 'full');
                    hidePreloader();
                });
        }

        function OpenPopupTSO(id, action_for) {
            showPreloader();
            //if ($('#TSOeditData').is(':visible')) {
            //       hideModal('TSOeditData');
            //    }

            $.ajax({
                type: 'POST',
                url: '@Html.Raw(Url.Action("OpenTSO", "Main", new { Area = "TSO" }))',
                data: {
                    id: id,
                    data_status: $('#data_status').val(),
                    action_for: action_for
                },
                dataType: 'html'
            })
            .done(function (result) {
                var div = $('#TSOeditData');
                div.html("");
                div.html(result);
                $('.selectpicker').selectpicker();
                
                if ($('#TSOeditData').is(':hidden')) {
                   showModal('TSOeditData');
                }
                else {
                    TableInit('yearParamTable', 'simple-scroll', '67vh', 0);
                    TableInit('responseTable', 'simple-scroll', '67vh', 0);
                }
                hidePreloader();
            });
        }

    </script>
}