@{
    Layout = "/Views/Shared/_LayoutHSS.cshtml";
}
<script type="text/javascript">
	$('.main-container').addClass('welcome');
</script>

<div class="data-block text-center justify-content-center align-items-center w-100">
	<input type="hidden" value="1" id="hide_clocks"></input>
	<div class="data-block title-block">
		<h2 class="text-white text-opacity-50">Автоматизированная информационная система</h2>
		<h1 class="text-white fs-1">"Схема теплоснабжения"</h1>
	</div>
	<div class="data-block text-white w-50 align-self-center mt-4 mb-3">
		<h3 class="text-white text-opacity-75">Выберите необходимый <a data-bs-toggle="offcanvas" href="#offcanvas-sidebar" role="button" aria-controls="offcanvas-sidebar" style="color: var(--action-color);">раздел</a></h3>
	</div>
</div>