<div class="data-block workspace">
	<input type="hidden" value="0" id="refresh_tariffZone_table" />
	<div class="data-block title-block">
		<div class="data-row">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a class="ref-color" href="#">Главная</a></li>
				<li class="breadcrumb-item">Справочники - Тарифные зоны</li>
			</ul>
		</div>
		<div class="data-row">
			<h1 class="title">Тарифные зоны</h1>
			<div class="data-item data-item-right">
				<button class="bttn bttn-color bttn-edit-data" type="button" onclick="OpenPopupTariffZone(0)">Добавить/Удалить</button>
				<a class="bttn bttn-color bttn-load-data" type="button" href="page2-2-1-2.html">Загрузить данные</a>
			</div>
		</div>
		<div class="data-row static-block">
			<div class="data-row">
				<div class="data-item">
					<partial name="_PerspectiveYearsList" />
				</div>
				<div class="data-item">
					<div class="note">Базовый год - <span class="note-base-year" id="base_year_info"></span>;</div>
				</div>
			</div>
		</div>
	</div>

	<div class="data-block main-content border-block" id="TarifZoneTable_div">
		@await Component.InvokeAsync("TariffZoneList_Partial")
	</div>
</div>


@*@section pageJs {*@
	<script type="text/javascript" src="@Url.Content("~/hss/js/popup_common_scripts.js")"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            setTimeout(function () {
				$('#TarifZone').addClass('active');
            }, 500);

			TableInit('TarifZoneTable', 'full');
			
		});

		//document.querySelector('#perspective_year').addEventListener('change', (event) => {
		//	GetListOnPage();
		//});

		function GetListOnPage() {
			showPreloader();
			$.ajax({
				
				type: 'GET',
				url: '@Html.Raw(Url.Action("OnGetCallTariffZoneList_PartialViewComponent", "TariffZone", new { Area = "DictionaryTables" }))',
				data: {
					data_status: $('#data_status').val(),
					perspective_year: $('#perspective_year').val()
				},
				dataType: 'html'
			})
				.done(function (result) {
					var div = $('#TarifZoneTable_div');
					div.html("");
					div.html(result);
					TableInit('TarifZoneTable', 'full');
					hidePreloader();
				});
		}

		function OpenPopupTariffZone(id, action_for) {
			showPreloader();
			$.ajax({
				type: 'POST',
				url: '@Html.Raw(Url.Action("OpenTariffZone", "TariffZone", new { Area = "DictionaryTables" }))',
				data: {
					id: id,
					data_status: $('#data_status').val(),
					perspective_year: $('#perspective_year').val(),
					action_for: action_for
				},
				dataType: 'html'
			})
				.done(function (result) {
					var div = $('#TariffZoneDataPopup');
					div.html("");
					div.html(result);
					$('.selectpicker').selectpicker();

					if ($('#TariffZoneDataPopup').is(':hidden')) {
						showModal('TariffZoneDataPopup');
					}
					hidePreloader();
				});
		}

		function RefreshTable() {
		if ($("#refresh_tariffZone_table").val() === "1") {
			$("#refresh_tariffZone_table").val(0);
				GetListOnPage();
			}
		}

		function CheckBox_Change(cb) {
			
			var name = 'tariff_differentiation';
			if (cb == 'cb1') {
				document.getElementById('cb2').checked = false;
				document.getElementById('cb3').checked = false;
				$('input[name="'+ name +'"]:checked').val(1);
			}
			if (cb == 'cb2') {
				document.getElementById('cb1').checked = false;
				document.getElementById('cb3').checked = false;
				$('input[name="' + name + '"]:checked').val(2);
				var t = $('input[name="' + name + '"]').val();
			}
			if (cb == 'cb3') {
				document.getElementById('cb2').checked = false;
				document.getElementById('cb1').checked = false;
				$('input[name="' + name + '"]:checked').val(3);
			}
			var t = $('input[name="' + name + '"]').val();
		};

		</script>
	@*}*@
