<div class="data-block workspace">

	<div class="data-block title-block">
		<div class="data-row">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a class="ref-color" href="#">Главная</a></li>
				<li class="breadcrumb-item">Справочники - Системы теплоснабжения</li>
			</ul>
		</div>
		<div class="data-row">
			<h1 class="title">Системы теплоснабжения</h1>
			<div class="data-item data-item-right">
				<button class="bttn bttn-color bttn-edit-data" type="button" onclick="OpenPopupHSS(0)">Добавить/Удалить</button>
				<a class="bttn bttn-color bttn-load-data disabled" type="button" href="page2-2-1-2.html">Загрузить данные</a>
			</div>
		</div>
	</div>

	<div class="data-block main-content border-block" display: none;" id="HSSTable_div">
		@await Component.InvokeAsync("HeatSupplySystemList_Partial")
	</div>
</div>


<script type="text/javascript" src="@Url.Content("~/hss/js/popup_common_scripts.js")"></script>
<script type="text/javascript">

	$(document).ready(function () {
		setTimeout(function () {
			$('#HeatSupplySystem').addClass('active');
		}, 500);

		TableInit('HSSTable', 'full');

	});


	function GetListOnPage() {
		showPreloader();
		$.ajax({

			type: 'GET',
			url: '@Html.Raw(Url.Action("OnGetCallHeatSupplySystemList_PartialViewComponent", "HeatSupplySystem", new { Area = "DictionaryTables" }))',
			data: {
			},
			dataType: 'html'
		})
			.done(function (result) {
				var div = $('#HSSTable_div');
				div.html("");
				div.html(result);
				TableInit('HSSTable', 'full');
				hidePreloader();
			});
	}



	function OpenPopupHSS(id, action_for) {
		showPreloader();
		$.ajax({
			type: 'POST',
			url: '@Html.Raw(Url.Action("OpenHSS", "HeatSupplySystem", new { Area = "DictionaryTables" }))',
			data: {
				id: id,
				action_for: action_for
			},
			dataType: 'html'
		})
			.done(function (result) {
				var div = $('#HSSDataPopup');
				div.html("");
				div.html(result);
				$('.selectpicker').selectpicker();

				if ($('#HSSDataPopup').is(':hidden')) {
					showModal('HSSDataPopup');
				}
				hidePreloader();
			});
	}
</script>